* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 0;
    text-align: justify;
}

footer p {
    text-align: center;
}

:root {
    --primary-color: darkblue;
    --text-color: white;
    --heading-color: darkblue;
    --border-color: black;
    --box-shadow-color: gray;

    --main-width: 840px;
    --padding-small: 2px;
    --padding-medium: 10px;
    --padding-large: 20px;

    --aside-bg: #eee;
    --aside-text: #333;
    --aside-border: 1px solid rgb(0 0 0 / 0.2);

    --footer-border: 1px solid #000;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-medium);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: var(--padding-large);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--heading-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.5rem
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--box-shadow-color);
}

p {
    padding: 0;
}

header, .grid, footer {
    max-width: var(--main-width);
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 20rem 1fr;
    align-items: center;
}

aside {
    border: var(--aside-border);
    padding: 1rem;
    background-color: var(--aside-bg);
    color: var(--aside-text);
    text-align: center;
    position: relative;

    grid-column: 1/2;
    grid-row: 1/2;
}

main {
    grid-column: 2/3; 
    margin: 1rem;
}

aside img {
    width: 200px;
    height: auto;
}

/* Layout Enhancements */
main img {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 1rem;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

footer {
    margin-top: 15px;
    border-top: var(--footer-border);
}