:root {
    --primary-color: darkblue;
    --text-color: white;
    --heading-color: darkblue;
    --border-color: black;
    --box-shadow-color: gray;

    --main-width: 840px;
    --padding-small: 2px;
    --padding-medium: 10px;
    --padding-large: 20px;

    --aside-bg: #eee;
    --aside-text: #333;
    --aside-border: 1px solid rgb(0 0 0 / 0.2);

    --footer-border: 1px solid #000;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-medium);
}

nav a {
    color: var(--text-color);
    display: block;
    padding: var(--padding-large);
}

h1 {
    color: var(--heading-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--box-shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: var(--main-width);
    margin: 0 auto;
}

aside {
    max-width: var(--main-width);
    margin: 1rem auto;
    border: var(--aside-border);
    padding: 1rem;
    background-color: var(--aside-bg);
    color: var(--aside-text);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside {
    position: relative;
}

/* Layout Enhancements */
aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 1rem;
}

/* Class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}


footer {
    margin-top: 15px;
    border-top: var(--footer-border);
    text-align: center;
}